Getting started with Data Science with Jupyter Notebooks

In [3]:
import pandas as pd #Data wrangling
import numpy as np #Numerical computation
import matplotlib.pyplot as plt
import matplotlib as mpl #add plotting functionalities

mpl.rcParams["figure.dpi"] = 400 #high resolution figures
# import graphviz

In [4]:
"""Loading the case study data with the pd.read_excel() function"""
dataFrame = pd.read_excel("CaseStudyFile/default_of_credit_card_clients__courseware_version_1_21_19.xls")

dataFrame.shape #Get the number of rows and columns in the dataframe.
dataFrame.info() #Get information about the dataframe columns
dataFrame.head() #View the first few rows of the dataframe

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

In [3]:
"""Exploring the data"""
# Checking if the number of unique account IDs match the number of rows
dataFrame.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [4]:
dataFrame.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
"""Verifying if the ID is unique throughout the dataset"""
dataFrame["ID"].nunique()
# obtain the number of rows in the data set
dataFrame.shape

(30000, 25)

In [6]:
# count the number of duplicate IDs
id_count = dataFrame["ID"].value_counts()
print(id_count.head())
id_count.value_counts() # display the number of duplicate entries

ID
ad23fe5c-7b09    2
1fb3e3e6-a68d    2
89f8f447-fca8    2
7c9b7473-cc2f    2
90330d02-82d9    2
Name: count, dtype: int64

count
1    29374
2      313
Name: count, dtype: int64

In [7]:
#Introducing Boolean Mask(Logical Mask)
'''Creating a synthetic data for illustrating boolean mask'''
from numpy.random import default_rng
random_generator = default_rng(12345)# 12345 is said to be the seed

random_int = random_generator.integers(low = 1, high = 5, size = 100)
random_int[:5] # look at the first five alements of the integer array

posOf3 = random_int == 3
posOf3
print(posOf3[:5])

[ True False False False False]

In [8]:
"""Supposing u intend to know how many elements in the array where equal to 3"""
sum(posOf3)
random_int[posOf3] # select out the boolean mask numbers from the array

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3], dtype=int64)

In [9]:
"""Supposing u intend to know how many elements in the array where equal to 3"""
sum(posOf3)
random_int[posOf3] # select out the boolean mask numbers from the array

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3], dtype=int64)

In [10]:
'''Fixing the duplicate IDs'''
id_count = dataFrame["ID"].value_counts()
id_count.value_counts()
id_count.head()

dupe_mask = id_count == 2
print(dupe_mask[:5])
print(id_count.index[:5]) #in index form

# Store the duplicate IDs in a variable called dupe_ids
dupe_ids = id_count.index[dupe_mask]
dupe_ids = list(dupe_ids)
print(len(dupe_ids))
print(dupe_ids[:5])

ID
ad23fe5c-7b09    True
1fb3e3e6-a68d    True
89f8f447-fca8    True
7c9b7473-cc2f    True
90330d02-82d9    True
Name: count, dtype: bool
Index(['ad23fe5c-7b09', '1fb3e3e6-a68d', '89f8f447-fca8', '7c9b7473-cc2f',
       '90330d02-82d9'],
      dtype='object', name='ID')
313
['ad23fe5c-7b09', '1fb3e3e6-a68d', '89f8f447-fca8', '7c9b7473-cc2f', '90330d02-82d9']

In [11]:
# Select all rows with the first 3 duplicate ids in the list from the entire dataFrame
dataFrame.loc[dataFrame["ID"].isin(dupe_ids[:3]), :]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
5033,89f8f447-fca8,320000,2,2,1,32,0,0,0,0,...,169371,172868,150827,8000,8000,5500,6100,6000,5000,0
5133,89f8f447-fca8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16727,1fb3e3e6-a68d,80000,1,2,2,33,2,2,0,0,...,27394,29922,31879,0,2000,2000,3000,2600,0,1
16827,1fb3e3e6-a68d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29685,ad23fe5c-7b09,50000,1,3,1,32,0,0,0,0,...,12882,8131,3983,3000,2871,1000,163,3983,3771,1
29785,ad23fe5c-7b09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# Delete all rows with all colunms == 0
df_zero_mask = dataFrame == 0
feature_zero_mask = df_zero_mask.iloc[:,1:].all(axis = 1)
sum(feature_zero_mask)

'''Cleaning the data'''
# By deleting all rows with 0
cleanedFrame = dataFrame.loc[~feature_zero_mask, :].copy()

cleanedFrame.shape

cleanedFrame["ID"].nunique() # get number of unique IDs

29685

In [13]:
cleanedFrame.to_csv("cleanedFrame.csv", index = False)
cleanedFrame = pd.read_csv("CaseStudyFile/cleanedFrame.csv")
cleanedFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29685 entries, 0 to 29684
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          29685 non-null  object
 1   LIMIT_BAL                   29685 non-null  int64
 2   SEX                         29685 non-null  int64
 3   EDUCATION                   29685 non-null  int64
 4   MARRIAGE                    29685 non-null  int64
 5   AGE                         29685 non-null  int64
 6   PAY_1                       29685 non-null  object
 7   PAY_2                       29685 non-null  int64
 8   PAY_3                       29685 non-null  int64
 9   PAY_4                       29685 non-null  int64
 10  PAY_5                       29685 non-null  int64
 11  PAY_6                       29685 non-null  int64
 12  BILL_AMT1                   29685 non-null  int64
 13  BILL_AMT2                   29685 non-null  int64
 14  BILL_AMT3                   29685 non-null  int64
 15  BILL_AMT4                   29685 non-null  int64
 16  BILL_AMT5                   29685 non-null  int64
 17  BILL_AMT6                   29685 non-null  int64
 18  PAY_AMT1                    29685 non-null  int64
 19  PAY_AMT2                    29685 non-null  int64
 20  PAY_AMT3                    29685 non-null  int64
 21  PAY_AMT4                    29685 non-null  int64
 22  PAY_AMT5                    29685 non-null  int64
 23  PAY_AMT6                    29685 non-null  int64
 24  default payment next month  29685 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [14]:
# Check PAY_1 column in the data set
cleanedFrame["PAY_1"].head(5)
cleanedFrame["PAY_1"].value_counts()

PAY_1
0                13087
-1                5047
1                 3261
Not available     3021
-2                2476
2                 2378
3                  292
4                   63
5                   23
8                   17
6                   11
7                    9
Name: count, dtype: int64

In [15]:
# Find all the rows of PAY_1 column that does not have missing data
valid_pay_1_mask = cleanedFrame["PAY_1"]!= "Not available"
print(valid_pay_1_mask[:5])

sum(valid_pay_1_mask) # Check how many rows that have no missing data

0    True
1    True
2    True
3    True
4    True
Name: PAY_1, dtype: bool

26664

In [16]:
# Clean the data to remove all rows with missing values in the PAY_1 column
cleanedFrame_2 = cleanedFrame.loc[valid_pay_1_mask, :].copy()
cleanedFrame_2.shape
cleanedFrame_2["PAY_1"].value_counts() # confirm that the missing data rows has been deleted

PAY_1
0     13087
-1     5047
1      3261
-2     2476
2      2378
3       292
4        63
5        23
8        17
6        11
7         9
Name: count, dtype: int64

In [17]:
"""Convert all the data type for PAY_1 from object to int64"""
cleanedFrame_2["PAY_1"] = cleanedFrame_2["PAY_1"].astype('int64')
cleanedFrame_2[["PAY_1", "PAY_2"]].info()
cleanedFrame_2.to_csv('CaseStudyFile/cleanedFrame_2.csv', index = False)

<class 'pandas.core.frame.DataFrame'>
Index: 26664 entries, 0 to 29684
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PAY_1   26664 non-null  int64
 1   PAY_2   26664 non-null  int64
dtypes: int64(2)
memory usage: 624.9 KB

PermissionError: [Errno 13] Permission denied: 'CaseStudyFile/cleanedFrame_2.csv'